
@{
    ViewBag.Title = "Road map";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/RoadMap.css" />
    <script defer src="~/Scripts/HR/jquery.js"></script>
    <script defer src="~/Scripts/HR/RoadMap/RoadMap.js"></script>

    <script>
        function changeBlock(id) {
            var checkPoints = document.querySelectorAll(".checkpoint");
            for (var i = 0; i < checkPoints.length; i++) {
               
                var checkPointsId = checkPoints[i].id.substring(8);
                
                if (checkPointsId == id) {
                    checkPoints[i].setAttribute("style", "color: #63cdd7 !important; border-top: 1px solid #63cdd7 !important; border-bottom: 1px solid #63cdd7 !important; border-left: 2px solid #63cdd7 !important; border-right: 2px solid #fff !important; background-color: #fff !important; z-index: 122 !important; transform: scaleX(1.014) !important;");
                    
                }
                else {
                    checkPoints[i].style = "border-top: 1px solid #e6eceb";
                    checkPoints[i].style = "border - bottom: 1px solid #e6eceb";
                    checkPoints[i].style = "border - left: 2px solid #e6eceb";
                    checkPoints[i].style = "border - right: 2px solid #63cdd7";
                    checkPoints[i].style = "background - color: none";
                    checkPoints[i].style = "z - index: 3";
                    checkPoints[i].style = "transform: none";
                }
            }
        }
    </script>

</head>
<body>
    <header>
        <div class="nameOfRoadMap bold desktop">Road Map</div>
        <div class="nameOfRoadMap bold mobile" id="roadMap">Road Map</div>
    </header>

    <div class="base" style=" border-bottom-left-radius:5px; border-bottom-right-radius:5px; border: 3px solid #63cdd7; min-width:1100px;">
        <div class="listOfCheckpoints" id="listOfCheckpoints">
            <div class="checkpoint" id="CheckBox1" onclick="changeBlock(1)">
                <p>Checpoint 1</p>
            </div>
            <div class="checkpoint" id="CheckBox2" onclick="changeBlock(2)">
                <p>Checpoint 2</p>
            </div>
            <div class="checkpoint" id="CheckBox3" onclick="changeBlock(3)">
                <p>Checpoint 3</p>
            </div>
            <div class="checkpoint" id="CheckBox4" onclick="changeBlock(4)">
                <p>Checpoint 4</p>
            </div>
            <div class="checkpoint" id="CheckBox5" onclick="changeBlock(5)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox6" onclick="changeBlock(6)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox7" onclick="changeBlock(7)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox8" onclick="changeBlock(8)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox9" onclick="changeBlock(9)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox10" onclick="changeBlock(10)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox11" onclick="changeBlock(11)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox12" onclick="changeBlock(12)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox13" onclick="changeBlock(13)">
                <p>Checpoint 5</p>
            </div>
            <div class="checkpoint" id="CheckBox14" onclick="changeBlock(14)">
                <p>Checpoint 5</p>
            </div>
        </div>

        <div class="listOfSkills" style="height:400px">

            <div class="skill">
                <div class="skillInfo">
                    <p class="bold">Skill name long looooong looooooooooooooooooooooooooong name</p>
                    <p>Skill level</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="condition" id="condition">
                </div>

            </div>
            <div class="skill">
                <div class="skillInfo">
                    <p class="bold">Skill name long looooong looooooooooooooooooooooooooong name</p>
                    <p>Skill level</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="condition" id="condition">
                </div>
            </div>

            <div class="skill">
                <div class="skillInfo">
                    <p class="bold">Skill name long looooong looooooooooooooooooooooooooong name</p>
                    <p>Skill level</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="condition" id="condition">
                </div>
            </div>

            <div class="skill">
                <div class="skillInfo">
                    <p class="bold">Skill name long looooong looooooooooooooooooooooooooong name</p>
                    <p>Skill level</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="condition" id="condition">
                </div>
            </div>

        </div>
    </div>
    <div class="RoadMapComments" style="height:350px; width: 94%; background-color:#fafafa; margin-left:3%; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border: 3px solid #63cdd7; border-top:none;  min-width:1065px;">

    </div>
</body>
</html>
