
@{
    ViewBag.Title = "Road map";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/RoadMap.css" />
    <script defer src="~/Scripts/HR/jquery.js"></script>
    <script defer src="~/Scripts/HR/RoadMap/RoadMap.js"></script>
</head>
<body>
    <header>
        <div class="nameOfRoadMap bold desktop">Road Map</div>
        <div class="nameOfRoadMap bold mobile" id="roadMap">Road Map</div>
    </header>

    <div class="base">
        <div class="listOfCheckpoints" id="listOfCheckpoints">
            <div class="checkpoint" id="1">
                <p>Checpoint 1</p>
            </div>
            <div class="checkpoint">
                <p>Checpoint 2</p>
            </div>
            <div class="checkpoint">
                <p>Checpoint 3</p>
            </div>
            <div class="checkpoint">
                <p>Checpoint 4</p>
            </div>
            <div class="checkpoint">
                <p>Checpoint 5</p>
            </div>
        </div>

        <div class="listOfSkills">

            <div class="skill">
                <div class="skillInfo">
                    <p class="bold">Skill name long looooong looooooooooooooooooooooooooong name</p>
                    <p>Skill level</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="condition" id="condition">
                </div>

            </div>
            <div class="skill">
                <div class="skillInfo">
                    <p class="bold">Skill name long looooong looooooooooooooooooooooooooong name</p>
                    <p>Skill level</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="condition" id="condition">
                </div>
            </div>

            <div class="skill">
                <div class="skillInfo">
                    <p class="bold">Skill name long looooong looooooooooooooooooooooooooong name</p>
                    <p>Skill level</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="condition" id="condition">
                </div>
            </div>

            <div class="skill">
                <div class="skillInfo">
                    <p class="bold">Skill name long looooong looooooooooooooooooooooooooong name</p>
                    <p>Skill level</p>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="condition" id="condition">
                </div>
            </div>

        </div>

    </div>
</body>
</html>
