@using Domain
@model Domain.Employee
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Profile.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
<div class="items-container">
    <div class="flex-container">
    <div id="profilePhoto">
        <img id="profileImage"src="http://cs8.pikabu.ru/post_img/2017/03/29/6/1490776107120626903.jpg" alt="photo" width="180" style="border: 3px solid; border-radius: 5px;"/>
    </div>
        <div id="profileInfo">
            <div class="userJobInfo">
                @{
                    string empName = Model.Name;
                    <p id="userName">@empName</p>
                    foreach (var skillMatrix in Model.SkillMatrices)
                    {
                        <p class="userSpecialization">@skillMatrix.Specialization.Name</p>
                    }
                    foreach (var role in Model.AspNetUser.AspNetRoles)
                    {
                        <p class="userRole">@role.Name</p>
                    }
                }
            </div>
            <div id="exInfo" class="Info-box">
                <button name="skillMatrix"><a href="">Skill Matrix</a></button>
                <button name="RoadMap"><a href="">RoadMap</a></button>     
            </div>
        </div>
    </div>
</div>
</body>
</html>
