body {
    min-width: 300px;
    margin-top: 100px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.main-menu {
    z-index: 100;
    min-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .main-menu > li {
        min-width: 100px;
        min-height: 50px;
        position: relative;
        display: inline-block;
        margin-right: -3px;
        background: #222222;
        border-right: 2px #999999 solid;
    }

    .main-menu p {
        position: relative;
        z-index: 100;
        margin-bottom: 0px;
        padding: 15px;
        height: 50px;
        text-align: center;
        display: block;
        padding-right: 5px;
        color: #999999;
    }

    .main-menu .sub-menu {
        z-index: 200;
        position: absolute;
        left: 1px;
        display: none;
        width: 100px;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #999999;
    }

        .main-menu .sub-menu a {
            z-index: 200;
            min-width: 150px;
            margin-bottom: -1px;
            color: #222222;
        }
.sub-menu li {
    border: 1px solid #333333;
}

.main-menu > li:hover .sub-menu {
    display: block;
}