* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    justify-content: center;
    background-color: #e6eceb;
    color: #63cdd7;
}

h1 {
    color: #63cdd7;
    font-weight: bold;
}
.items-container {
    width: 100%;
    background-color: white;
    min-height: 550px;
    position: relative;
}
.flex-container {
    width: 100%;
    height: 360px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: space-around;
}
#profileImage {
    width: 320px;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 3px;
}
#profileInfo {
    width: 320px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
#profilePhoto {
    margin: 20px;
}
#userName {
    font-size: 150%;
    font-weight: bold;
}
.userSpecialization {
    font-size: 125%;
}
.userJobInfo {
    padding: 10px;
}

#exInfo button {
    margin: 0 10px;
    background-color: #fff;
    border: 2px solid #63cdd7;
    color: #63cdd7;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    transition: .5s;
}
#exInfo button:hover {
    transform: scale(1.1);
}
#exInfo button a:link {
    text-decoration: none;
}
#exInfo button a:visited {
    text-decoration: none;
}
#exInfo button a:hover {
    text-decoration: none;
}
#exInfo button a:active {
    text-decoration: none;
}
#exInfo button a {
    color: #63cdd7;
}
@media screen and (max-width: 950px) {
    .container {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .list-block {
        width: 100%;
    }

    .items-container {
        margin: 0;
    }

    h1 {
        font-size: 16px;
    }

    a.edit, input.delete {
        font-size: 12px;
    }

    a.lable {
        font-size: 13px;
    }

    .rowContainer {
        border: 2px solid #63cdd7;
    }

    .menu {
        width: 500px;
        height: 100px;
    }

    .photo {
        width: 250px;
        height: 300px;
    }

    .info {
        width: 250px;
        height: 300px;
        position: absolute;
        top: 100px;
        left: 250px;
        justify-content: flex-end;
    }

    .buttons {
        width: 500px;
        height: 100px;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
