* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background-color: #e6eceb;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.nameOfRoadMap {
    text-align: center;
    color: #63cdd7;
    font-size: 4vmax;
    background-color: #fff;
    padding: 6px;
    border-bottom: 2px solid #63cdd7;
    cursor: pointer;
}

.skillInfo{
    width:95%;
}

.mobile {
    display: none;
}

.base {
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.listOfCheckpoints {
    padding: 3px;
    width: 25%;
    height: inherit;
    overflow-y: auto;
    border-right: 2px solid #e6eceb;
    overflow: hidden;
}

.checkbox{
    min-height:0px;
    margin-top:20px;
}

    .listOfCheckpoints p {
        color: #63cdd7;
        font-weight: bold;
    }

.checkpoint {
    margin: 5px 0;
    padding: 6px;
    border-bottom: 2px solid #e6eceb;
    cursor: pointer;
    transition: .5s all;
    display: flex;
}

    .checkpoint:hover {
        color: #63cdd7;
        border-bottom: 2px solid #63cdd7;
        background-color: #e6eceb;
        transform: scale(1.02);
    }

.listOfSkills {
    display: flex;
    width:75%;
    flex-direction: column;
}

.skill {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #63cdd7;
    padding: 6px;
    margin: 3px 0px;
}

@media screen and (max-width: 768px) {
    .base {
       
        margin: 0;
        width: 100%;
    }
}
