@model dynamic

@{
    ViewBag.Title = "title";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Profile.css" />
</head>
<body>
    <h3 style="margin-top:50px; font-weight:bold; padding:20px; border: 2px solid #63cdd7; background-color:#fff; text-align:center;"> Performance Review not passed. Please, pass it and connect HR.</h3>
</body>
</html>
