@model dynamic

@{
    ViewBag.Title = "title";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Profile.css" />
</head>
<body>
    <h3 style="margin-top:50px; font-weight:bold; padding:20px; border: 2px solid #63cdd7; background-color:#fff; text-align:center;"> HR didn't made RoadMap for u yet. Connect him, please. </h3>
</body>
</html>