
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error404</title>
</head>
<body>
    <div>
        <h2>Ошибка 404. Ресурс не найден</h2>
    </div>
</body>
</html>
